.navbar{
    padding: 10px;
}

.nav{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

a{
    color: white;
    border: 1px solid black;
    border-radius: 3px;
    padding: 3px 10px;
    background-color: black;
}