div{
    padding: 20px;
}

h4{
    color:#5ede5e;
}
.form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

input{
    width: 170px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 7px;
    outline: none;
}

button{
    width: 70px;
    border: 2px solid black;
    border-radius: 6px;
    margin-top: 10px;
    padding: 8px;
    border: none;
    color: #5ede5e;
    background-color: black;
}

.main{
    background-color: green;
    width: 300px;
    border-radius: 7px;
}